<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>cLogin</servlet-name>
        <servlet-class>controladores.cLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cProductos</servlet-name>
        <servlet-class>controladores.cProductos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cUsuarios</servlet-name>
        <servlet-class>controladores.cUsuarios</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>cLogin</servlet-name>
        <url-pattern>/cLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cProductos</servlet-name>
        <url-pattern>/cProductos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cUsuarios</servlet-name>
        <url-pattern>/cUsuarios</url-pattern>
    </servlet-mapping>
</web-app>
